table.tablesorter thead tr th{
	background-color: #B9D7D9;
	border: 1px solid #FFF;
	font-size: 8pt;
    text-align: center;
    vertical-align: middle;
}
table.tablesorter thead tr {
	cursor: pointer;
}

table.tablesorter thead tr th.sort-order-asc {
    background-color: #668284;
    color: #FFFFFF;
    background-image: url("../img/asc.gif");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 18px;
}
table.tablesorter thead tr th.sort-order-desc {
    background-color: #668284;
    color: #FFFFFF;
    background-image: url("../img/desc.gif");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 18px;
}